<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RootDir" value="C:\repos\book\BookBlazorExample"/>
		<add key="TestResults" value="BookBlazorExample\test_output.txt"/>
		<add key="TestAssembly" value="BookBlazorExample.Test\bin\Debug\net7.0\BookBlazorExample.Test.dll"/>
		<add key="TestClasses" value="BookBlazorExample.Test.ProductFormTests,BookBlazorExample.Test.ProductListTests,"/>
	</appSettings>
</configuration>