<tr>
    <td class="@(Product?.IsInStock == null || !Product.IsInStock ? "absent" : "")"><a href="products/@Product?.Id">@Product?.Name</a></td>
    <td class="right">&nbsp;$@Product?.Price</td>
    @*<td><i class="mx-3 oi oi-pencil"></i></td>*@
</tr>


