@page "/about"

<PageTitle>Blazor Example: About</PageTitle>

<h3>About this example</h3>

<p>Don't read too much into it. It's just an example. It is based on <a href="https://reactjs.org/docs/thinking-in-react.html">Thinking in React</a>.</p>

<p>What matters is the application state (however small it is) and how it holds everything together. </p>


